*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.searchIcon {
  color: rgb(118, 118, 118);
}

.icon {
  font-size: 9rem;
}

.weatherIcon {
  font-size: 4rem;
}

.loadingIcon {
  font-size: 3rem;
  animation: spin 2s linear infinite;
}

footer {
  font-size: 0.8em;
  margin-top: 100px !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
@media (max-width: 575.98px) {
  .app-wrapper {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .app-wrapper {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .app-wrapper {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .app-wrapper {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .app-wrapper {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .app-wrapper {
    width: 30%;
  }
}
