*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  background-image: linear-gradient(to bottom, #fff9f6 0%, #b3d4e3 100%);
  background-size: cover;
  background-repeat: round;
  height: 100vh;
}

.searchIcon {
  font-size: 2rem;
  color: grey;
}

.icon {
  font-size: 9rem;
}

.weatherIcon {
  font-size: 4rem;
}

.loadingIcon {
  font-size: 3rem;
  animation: spin 2s linear infinite;
}

.background-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
@media (max-width: 575.98px) {
  .app-wrapper {
    width: 90%;
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .app-wrapper {
    width: 90%;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .app-wrapper {
    width: 80%;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .app-wrapper {
    width: 80%;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .app-wrapper {
    width: 30%;
    height: 100vh;
  }
}

@media (min-width: 1400px) {
  .app-wrapper {
    width: 30%;
    height: 100vh;
  }
}
